<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <%- include('includes/top') %>
    <title>Chess</title>
  </head>
  <body>
    
    <div class="container">
      <%- include('includes/header') %>
     
      <section class="main">
        <div class="content">

          <% if(!user) {%>

        <a href="/login">Login</a>
        <a href="/register">Register</a>
        
        <% } else { %>
        
        <h1>Welcome <%= user.username %></h1>
        <a type="button" class="btn"><i class="fa fa-spinner fa-spin"></i> Play</a>
        <p class="message"></p>
        <div class="games">
          <h1>Recent Games played</h1>
          <table>
            <tr>
              <th>Sno.</th>
              <th>Players</th>
              <th>Result</th>
            </tr>

            <% for(let i=0;i<games.length;i++){ %>

              <tr>
                <td><%= i+1 %></td>
                <td><a href="/play/<%= games[i]._id%>" target="_blank"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                  <%= games[i].player1 %> VS <%= games[i].player2 %></a></td>
                <td>
                  <% if(games[i].result=='---' || games[i].result=='Draw'){ %>
                  <%= games[i].result %>
                  <% } else { %>
                    <%= games[i].result %> won
                    <% } %>
                  
                </td>
              </tr>
              <% } %>
          </table>
        </div>
        <% }%>
        </div>
        
      </section>
    </div>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      var socket = io("/");
      socket.on("startGame", (url) => {
        console.log("startgame");
        message.style.display='block';
        message.innerHTML='Player found, Game starting....';
        loader.style.display="inline-block";

        setTimeout(() => {
          loader.style.display="none";
          message.style.display="none";
        message.innerHTML="";
        }, 3000);
        location.href = url;
      });

setInterval(() => {
  const start = Date.now();

  socket.emit("ping", () => {
    const duration = Date.now() - start;
    console.log(duration);
  });
}, 1000);

    </script>
    <script>
      let btn = document.querySelector(".btn");
      let loader=document.querySelector('.btn i');
      let message=document.querySelector('.message');
      
      btn.addEventListener("click", (e) => {
        console.log("click");
        message.style.display='block';
        message.innerHTML='Searching for players';
        loader.style.display="inline-block";

        setTimeout(() => {
          loader.style.display="none";
          message.style.display="none";
        message.innerHTML="";
        }, 3000);
        socket.emit("playrequest");
      });
    </script>
  </body>
</html>
